@import '../App.scss';
.main {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include tablet {
        padding-left: 6.25rem;
        padding-right: 6.25rem;
    }
    &__heading2 {
        font-size: 1.25rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-weight: normal;
        color: white;
        text-align: center;
        @include tablet {
            font-size: 1.25rem;
        }
    }
    &__heading3 {
        font-size: 1.1rem;
        font-weight: normal;
        color: white;
        margin-bottom: 3rem;
        text-align: center;
        @include tablet {
            font-size: 1.25rem;
        }
    }
    &__linkGroup {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__img {
        display: block;
        height: 18rem;
        width: 16rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
        border-radius: 3px;
        position: relative;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
        &--1 {
            background-image: url('../Assets/images/book.jpg');
        }
        &--2 {
            background-image: url('../Assets/images/movies.jpg');
        }
        &:hover {
            box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 0.4);
        }
    }
    &__imgTitle {
        position: absolute;
        bottom: 0;
        right: 10px;
        font-weight: bold;
        font-size: 1.4rem;
        color: white;
    }
}